@*
    <copyright file="Index.cshtml" company="Company">
    Copyright (c) Company. All rights reserved.
    </copyright>
    *@

@{
    ViewData["Title"] = "Home Page";
}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>DeliveryPoint</th>
            <th>Date</th>
            <th>TimeSlot</th>
            <th>SlotValue</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



