@*
    <copyright file="Privacy.cshtml" company="Company">
    Copyright (c) Company. All rights reserved.
    </copyright>
*@
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
